.upp{
    font-size:8rem;
    text-align:center;
    background: #f4f4f4;;
    padding:2% 0;

    h2{
        margin-bottom:1%;
    }

    div{
        font-size:@font;

        h3{
            font-size:5rem;
            margin-bottom:2%;
        }

        p{
            text-align: left;
            width:80%;
            margin:0 auto;
        }


    }
}

.ppl{
    border-top:1px solid black;
    .flex(space-evenly);
    font-size:@font;
    flex-wrap:wrap;
    background:linear-gradient(to bottom right, #09C22C, #F753D8);


    .b{
        width:30%;
        padding:2%;
        margin:2% 0;
        background:#f4f4f4;

        @media @tablet{
            width:46%;
        }

        @media @phone{
            width:96%;
        }
        
        
        img{
            width:100%;
            border-radius:80px;
        }

        h2{
            text-align:center;
            margin:4% 0;
            font-size:5rem;
        }

        h3{
            text-align:center;
            font-size:4rem;
            margin:4% 0;
        }

        i{
            margin-top:2%;
            color:black;
        }
    }
}
